@import 'Colors';

.Container {
  position: relative;
}

.Navgation {
  position: fixed;
  width: 18.5rem;
  height:100%;

  background: $blue;
  border-left: .7rem solid $blue;
  transition: .5s;
  overflow: hidden; 

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

      // list
    li{
      position: relative;
      width: 100%;
      list-style: none;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;

      &:hover{
        background: $white;
       ;
      }
      // LINK
      a {
        position: relative; 
        width: 100%;
        display: flex;
        text-decoration: none;
        color: $white;

        align-items: center;
        
        &:hover{
          color: $blue
        }
        // CLASS ICON 
        .icon {
          position: relative;
          display: flex;

          min-width: 3.75rem;
          height: 3.75rem;
          line-height: 3.75rem;
          padding-left: 1rem;
          text-align: center;
          align-items: center;
          
        }
        ion-icon {
          font-size: 1.75rem;
        } 
        
        .title {
          position: relative;
          display: block;
          padding: 0 .3rem;
          height: 3.75rem;
          line-height: 3.75rem;

          white-space: nowrap;
        }

        
      }
     
    }

    li:nth-child(1){
      margin-bottom: 3rem;
      pointer-events: none;
    }
  }
  
}

.Navgation ul li:hover a::before{
    content: '';
    position:absolute;
    right: 0;
    top: -3.125rem;
    width: 3.125rem;
    height: 3.125rem;

    background: transparent;
    border-radius: 50%;
    box-shadow: 2rem 2rem 0 .6rem $white;
}

.Navgation ul li:hover a::after{
  content: '';
  position:absolute;
  right: 0;
  bottom: -3.125rem;
  width: 3.125rem;
  height: 3.125rem;

  background: transparent;
  border-radius: 50%;
  box-shadow: 2rem -2rem 0 .6rem $white;
}